<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" />
        
        <title>Dasboard Aychow</title>

        <!-- Custom fonts for this template-->
        <link  href="vendor/fontawesome-free/css/all.min.css"  rel="stylesheet"  type="text/css" />
        <link  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"  rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">
        <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet" />
    </head>

    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            <ul
                class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
                id="accordionSidebar"
            >
                <!-- Sidebar - Brand -->
                <a
                    class="sidebar-brand d-flex align-items-center justify-content-center"
                    href="index.html"
                >
                    
                    <div class="sidebar-brand-text mx-3">
                        AyChow <sup>2</sup>
                    </div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0" />

                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">
                        
                        <span>Dashboard</span></a
                    >
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider" />
                <li class="nav-item active">
                <a class="nav-link" th:href="@{/admin}">

                    <span>Productos</span></a
                >
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/usuarios}">

                        <span>Usarios</span></a
                    >
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">

                        <span>Venta</span></a
                    >
                </li>

                
                
            </ul>
            

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <nav
                        class="navbar navbar-expand navbar-light bg-white topbar mb-3 static-top shadow"
                    >


                        <ul class="navbar-nav ml-auto">


                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->

                            <li class="nav-item dropdown">
                                <a class="btn btn-secondary" th:if="${userName == null}" th:href="@{/login}">
                                    Login
                                </a>
                                <button class="btn btn-secondary dropdown-toggle" th:if="${userName != null}" type="button" id="userButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span th:text="${userName}"></span>
                                </button>
                                <ul class="dropdown-menu" th:if="${userName != null}">
                                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                                    <li><a class="dropdown-item" th:href="@{/historial}">Historial</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form th:action="@{/logout}" method="post" style="display: none;" id="logoutForm">
                                            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                                        </form>
                                        <a class="dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>


                    <section class="container">
                        <h1 class="text-center text-primary">Subir Producto</h1>
                        <form th:action="@{http://localhost:8080/api/productos/nuevo}" method="post" enctype="multipart/form-data"  class="container-md mt-4 mx-7">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre:</label>
                                <input type="text" id="nombre" name="nombre" class="form-control" required>
                            </div>
                    
                            <div class="mb-3">
                                <label for="marca" class="form-label">Marca:</label>
                                <input type="text" id="marca" name="marca" class="form-control" required>
                            </div>
                    
                            <div class="mb-3">
                                <label for="precio" class="form-label">Precio:</label>
                                <input type="number" id="precio" name="precio" class="form-control" required>
                            </div>
                    
                            <div class="mb-3">
                                <label for="detalle" class="form-label">Detalle:</label>
                                <textarea id="detalle" name="detalle" class="form-control" required></textarea>
                            </div>
                    
                            <div class="mb-3">
                                <label for="cantidad" class="form-label">Cantidad:</label>
                                <input type="number" id="cantidad" name="cantidad" class="form-control" required>
                            </div>
                    
                            <div class="mb-3">
                                <label for="rating" class="form-label">Rating:</label>
                                <input type="number" step="0.1" id="rating" name="rating" class="form-control" required>
                            </div>
                    
                            <div class="mb-3">
                                <label for="imagen" class="form-label">Imagen:</label>
                                <input type="file" id="imagen" name="imagen" class="form-control" required>
                            </div>
                    
                            <button type="submit" class="btn btn-primary">Subir Producto</button>
                        </form>
                    </section>
                       

                
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>



        </div>
    </body>
</html>
